<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  	<display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>/*</url-pattern> <!-- /Path의 모든 파일에 -->
  		<include-prelude>/common/header.jspf</include-prelude> <!-- 맨앞쪽에 집어넣음 -->
  		<include-coda>/common/footer.jspf</include-coda>
  	</jsp-property-group>
  </jsp-config>
</web-app>